.app-content-icon {
  --slds-c-icon-color-foreground-default: rgba(1, 118, 211, 1);
}
.app-content-persona {
  font-style: italic;
}
.app-header-color {
  color: var(--slds-g-color-palette-blue-15);
}
.app-details-btn-layout {
  --slds-c-button-brand-color-background: rgba(0, 112, 210, 1);
}