.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
    background-color: #f0f0f0;
    padding: 10px 10px 10px;
}
.custom-box {
    text-align: left;
    padding: 1rem;
    border: 1px solid #d8dde6;
    font-size: 18px;
}
.slds-text-heading_medium {
    padding: 0px 20px 10px;
}
.c-description {
    padding: 0px 0px 15px;
    font-size: 15px;
}